.commercialDiv {
    background-color: rgb(214, 214, 214);
}

@media screen and (max-width: 500px) {

    .commercialText {
        font-size: 10px;
        line-height: normal;
    }

    .commercialPadding {
        padding: 0;
    }


}