.heroBannerImage {
    z-index: -1;
}

.heroBannerBackground {
    background-image: url(../../assets/img/heroBannerImage.jpg);
    background-size: cover;
    height: 900px;
}

@media screen and (max-width: 500px) {

    .heroBannerResponsiveFont {
        font-size: 20px;
    }

    .heroBannerResponsive {
        margin: auto;
    }

    .heroBannerSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top: 9px;
    }

    .resImage {
        height: 150px;
        width: 150px;
        text-align: center;
    }

    .navTitleResponsive {
        padding-top: 7px;
    }


}