.googleFont {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

@media screen and (max-width: 500px) { 

    .navResponsive {
        display: flex;
        flex-direction: row;
        border: none;
        justify-content: center;
        margin: auto;
        padding: 0;
    }

    .navAResponsive {
        padding-left: 3px;
        padding-right: 3px;
        margin: auto;
        font-size: 20px;
    }

    .navTitleResponsive {
        font-size: 20px;
    }

    .hide {
        display: none;
    }

}