@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.homeBg {
    background-image: url(./assets/img/homePagePic2.jpeg);
    background-repeat: no-repeat;
}

.logoFont {
    font-family: 'Michroma', sans-serif;
}

.googleFont {
    font-family: 'Permanent Marker', cursive;
}

.marquee {
    justify-content: space-around
}

.logoSlider {
    height: 75px;
    aspect-ratio: 3/2;
    object-fit: contain;
    padding: 5px;
}